.navbar ul{
    list-style: none;
    overflow: hidden;
    background-color: rgb(5, 68, 104);
}
.navbar li{
    float:left;
}
.navbar li a{
    display: block;
    color: white ;
    font-size: 20px ;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: white;
    color:rgb(5, 68, 104);
}


		.column1{
			width: 30%;
			float: left;


		}
		.column2{
			float: left;
			width: 65%;
			margin-left: 2%;
			height: 535px;
		}


.wrapper{
    padding-top: 10px;
}
.wrapper .sidebar{
    background: rgb(5, 68, 104);

    left: 0;
    width: 290px;
    height: 450px;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.sidebar ul{
	list-style-type: none;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    text-decoration: none;
}
.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before{
    display: block;
}


.column2 {
  
    background-color: rgba(5, 68, 104, 0.12);

  border-radius: 10px;
  padding-right: 10px; 
  padding-left:  10px; 
}




 input[type=text], select {
  
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


label{
    padding-right: 60px ;
    font-size: 20px;
}
p{
    font-size: 20px;
}
.padd{
    padding-left: 30px;
}
.button {
  background-color: rgb(5, 68, 104);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

