.navbar ul{
    list-style: none;
    overflow: hidden;
    background-color: #FD0589;
}
.navbar li{
    float:left;
}
.navbar li a{
    display: block;
    color: white ;
    font-size: 20px ;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: white;
    color:#FD0589;
}
.main{
    width: 1200px;
    height: 550px;
    background-image: url('hack1.png');

    }
.content{
    width:600px;
    height: 520px;
    background-color:rgba(54, 23, 135, 0.45);
    margin-left: 600px;
    border-radius: 40px;
    padding-top: 20px;
}
.heading{
    margin-left: 50px;
    padding-top: 30px;
    color: white;
    font-weight: 1em;
    font-family: serif;
}
.hack{
    font-weight: 4em;
    font-size: 80px;
    color:#FD0589 ;
}
.time{
    color: white;
    font-size: 23px;
    line-height: 1.2em;
    padding-left: 50px;
    word-spacing: 0.2em;
    font-weight: 45px;
}

button{
            background:#FD0589 ;
            padding: 15px;
            border-radius: 20px;
            margin-top: 15px ;
            margin-left: 200px;
        }
        a{
            text-decoration: none;
            color: white;
        }
.button span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
          font-size: 20px;
        }

.button span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }

.button:hover span {
          padding-right: 25px;
        }

.button:hover span:after {
          opacity: 1;
          right: 0;
        }
.conduct{
    background-color: #FD0589;
    height: 80px;
    width: 1200px;
}
.conduct ul{
    list-style-type: none
}
.conduct li{
    float: left;
    padding-right: 105px;
    font-size: 22px;
}
.conduct p{
    font-size: 20px;
    padding-top: 8px;
    padding-left: 8px;
}
